.SandP500-img {
    width: 70%;
    height: 280px;
    margin-left: 162px;
}

.DEFI-img {
    width: 70%;
    height: 280px;

}DEFI

.btn-custom {
    margin-left: 20px;
}

.input-custom {
    margin-left: 110px;
}